<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>
<%= form_with scope: :session, url: login_path do |form| %>
  <div class="email">
    <%= form.label :email, "メールアドレス" %>
    <%= form.text_field :email %>
  </div>

  <div class="password">
    <%= form.label :password, "パスワード" %>
    <%= form.password_field :password %>
  </div>

  <div class="buttom">
    <%= form.submit "ログイン"%>
  </div>
<% end %>
