<% unless current_user?(user) %>
  <div id="follow-form">
    <% if current_user.following?(user) %>
      <%= form_for(current_user.active_relationships.find_by(following_id: user.id), html: { method: :delete }) do |f| %>
        <%= f.submit "Unfollow" %>
      <% end %>
    <% else %>
      <%= form_for(current_user.active_relationships.build(following_id: user.id)) do |f| %>
        <div><%= f.hidden_field :following_id %></div>
        <%= f.submit "Follow" %>
      <% end %>
    <% end %>
  </div>
<% end %>