<%= form_with model: @user, url: {controller: 'users', action: action}, local: true do |form| %>
  <div class="username">
    <%= form.label :username, "ユーザID" %>
    <%= form.text_field :username %>
  </div>

  <div class="nickname">
    <%= form.label :nickname, "ニックネーム" %>
    <%= form.text_field :nickname %>
  </div>

  <div class="email">
    <%= form.label :email, "メールアドレス" %>
    <%= form.text_field :email %>
  </div>

  <% if action == 'create' %>
    <div class="password">
      <%= form.label :password, "パスワード" %>
      <%= form.password_field :password %>
    </div>

    <div class="password_comfirm">
      <%= form.label :password_comfirmation, "パスワード(確認)" %>
      <%= form.password_field :password_confirmation %>
    </div>
  <% end %>

  <div class="buttom">
    <%= form.submit %>
  </div>
<% end %>