<%= form_with model: @user, url: {controller: 'users', action: action}, local: true do |form| %>
  <div class="username">
    <%= form.label :username, "ユーザID" %>
    <%= form.text_field :username %>
  </div>

  <div class="nickname">
    <%= form.label :nickname, "ニックネーム" %>
    <%= form.text_field :nickname %>
  </div>

  <div class="email">
    <%= form.label :email, "メールアドレス" %>
    <%= form.text_field :email %>
  </div>

  <div class="password">
    <%= form.label :password, "パスワード" %>
    <%= form.password_field :password %>
  </div>

  <div class="password_comfirm">
    <%= form.label :password_confirmation, "パスワード(確認)" %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="user-icon">
    <%= form.label :image, "アイコン" %>
    <div id="img_field" onClick="$('#select_file').click()" >

      <% if @user.image.attached? %>
        <%= image_tag @user.image %>
      <% else %>
        <i class="fas fa-image"></i><i class="fas fa-file-upload add"></i>
      <% end %>

    </div>
    <%= form.file_field :image, class: "image", style: "display:none;", id: "select_file" %>
  </div>

  <div class="buttom">
    <%= form.submit %>
  </div>
<% end %>